/* global */
:root {
  --dark-cyan: hsl(185, 75%, 39%);
  --very-dark-desaturated-blue: hsl(229, 23%, 23%);
  --dark-grayish-blue: hsl(227, 10%, 46%);
  --dark-gray: hsl(0, 0%, 59%);
}
html, body, div {
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  font-family: 'Kumbh Sans', sans-serif;
  background-color: var(--dark-cyan);
  background-image: url('../images/bg-pattern-top.svg'), url('../images/bg-pattern-bottom.svg');
  background-position: calc(-51vw + 100vw - 1000px) calc(-49vh + 100vh - 1000px), 49vw 51vh;
  background-size: 1000px auto;
  background-repeat: no-repeat;
}

/* profile-card */
.profile-card {
  background: #FFF;
}
.profile-card .profile-bg {
  background-image: url('../images/bg-pattern-card.svg');
}
.profile-card .profile-bg .profile-img {
  background-image: url('../images/image-victor.jpg');
  border-color: white;
}

.profile-card .profile-info .name {
  color: var(--very-dark-desaturated-blue);
}
.profile-card .profile-info .age {
  color: var(--dark-gray);
}

.profile-card .profile-info .location {
  color: var(--dark-gray);
}

.divider {
  background: var(--dark-gray);
}

.stat-block .stat-title {
  color: var(--very-dark-desaturated-blue);
}
.stat-block .stat-num {
  color: var(--dark-gray);
}


/* attribution */
.attribution { 
  color: var(--very-dark-desaturated-blue);
}
.attribution a { 
  color: white;
}